@import '~antd/dist/antd.css';

header {
  padding-left: 35px
}

.logo {
  display: flex;
  text-align: center;
  font-size: 18px;
}

.logo::before {
  content: '台灣高鐵查詢系統';
  color: #FFF;
}

.ant-layout-sider-zero-width-trigger-left {
  top: -52px
}

.ant-layout-sider-zero-width-trigger {
  left: 0px
}